In [1]:
import random
import numpy as np
import pandas as pd

In [2]:
# GLOBALS
ALL_ANIMALS = ['KE', 'FA', 'MU', 'NO', 'SW', 'SG', 'SA', 'HA', 'BI', 'KA', 'TU', 'AS', 'TA']
TIMESLOTS = ['EM','LM','EA','LA']
NO_OBS_PER_TIMESLOT = 3
RANDOM_SEED = 32

# 3 observaties per dagdeel mogelijk, elk dier wordt ong ~3x elk dagdeel geobserveerd
no_observations = NO_OBS_PER_TIMESLOT*len(TIMESLOTS)*3*len(ALL_ANIMALS)
no_observations

468

In [3]:
def generate_combinations(animal_names, timeslots):    
    
    combs = []
    for name in animal_names:
        combs += list(zip([name]*len(timeslots*NO_OBS_PER_TIMESLOT),timeslots*NO_OBS_PER_TIMESLOT))
    combs *= NO_OBS_PER_TIMESLOT

    return combs

def generate_random_seed():
    return

In [15]:
# GENERATE RANDOM SEQUENCE OF TIMESLOT-ANIMAL COMBINATIONS
combs = generate_combinations(ALL_ANIMALS,TIMESLOTS)
random.seed(RANDOM_SEED)
random.shuffle(combs)
header = [('ANIMAL','TIMESLOT')]
np.savetxt('random_schedule_list.csv',header+combs,delimiter=',',fmt='% s')

[('TU', 'LA'), ('BI', 'EA'), ('TU', 'LM'), ('NO', 'EA'), ('NO', 'LA'), ('TU', 'LA'), ('MU', 'EM'), ('FA', 'EM'), ('TA', 'LA'), ('MU', 'LM'), ('TU', 'LM'), ('SA', 'EA'), ('SW', 'LA'), ('MU', 'LA'), ('KA', 'LA'), ('SA', 'LA'), ('HA', 'LA'), ('KA', 'LM'), ('SA', 'EM'), ('TU', 'EA'), ('FA', 'LA'), ('FA', 'LM'), ('AS', 'EA'), ('TA', 'EA'), ('SA', 'LM'), ('SG', 'LA'), ('TU', 'EA'), ('HA', 'EA'), ('TU', 'LA'), ('KA', 'LM'), ('TU', 'EA'), ('FA', 'LA'), ('KE', 'LA'), ('SW', 'EM'), ('TA', 'EM'), ('AS', 'EA'), ('MU', 'EA'), ('AS', 'EM'), ('SA', 'LM'), ('FA', 'EM'), ('TU', 'EA'), ('AS', 'EM'), ('KA', 'LA'), ('HA', 'LA'), ('SW', 'EA'), ('AS', 'LM'), ('BI', 'LA'), ('KA', 'EA'), ('MU', 'EM'), ('SW', 'LM'), ('FA', 'EA'), ('AS', 'EA'), ('HA', 'EA'), ('BI', 'EM'), ('KA', 'EA'), ('NO', 'EA'), ('SG', 'LA'), ('FA', 'EM'), ('TU', 'LA'), ('AS', 'EA'), ('TU', 'LA'), ('SG', 'LM'), ('SW', 'EM'), ('KE', 'LM'), ('NO', 'EA'), ('HA', 'LA'), ('BI', 'EA'), ('HA', 'EM'), ('SA', 'LM'), ('AS', 'EM'), ('TA', 'LA'), ('SG', 'LM'), ('SW', 'LM'), ('SA', 'EA'), ('BI', 'EA'), ('HA', 'LM'), ('FA', 'LM'), ('SW', 'LM'), ('TA', 'EA'), ('TA', 'EA'), ('MU', 'LA'), ('TU', 'EM'), ('TA', 'EA'), ('SG', 'LM'), ('KE', 'EM'), ('NO', 'LA'), ('MU', 'EA'), ('TU', 'LA'), ('BI', 'LA'), ('TA', 'LM'), ('SA', 'EM'), ('NO', 'EM'), ('SG', 'LM'), ('SG', 'EA'), ('KA', 'EA'), ('NO', 'EM'), ('MU', 'EM'), ('FA', 'LA'), ('SW', 'LM'), ('SG', 'LM'), ('SW', 'EM'), ('HA', 'EA'), ('SA', 'LM'), ('HA', 'LA'), ('SG', 'LM'), ('MU', 'EA'), ('SW', 'LA'), ('AS', 'LM'), ('NO', 'EA'), ('BI', 'LM'), ('SW', 'LM'), ('KA', 'EM'), ('KA', 'EM'), ('BI', 'EM'), ('BI', 'EA'), ('SW', 'EA'), ('AS', 'LM'), ('HA', 'LA'), ('HA', 'EA'), ('FA', 'EA'), ('KA', 'EM'), ('BI', 'LM'), ('SA', 'EM'), ('NO', 'EM'), ('KA', 'LM'), ('NO', 'LA'), ('SA', 'EM'), ('AS', 'LM'), ('NO', 'EM'), ('HA', 'LM'), ('BI', 'EA'), ('MU', 'LM'), ('AS', 'EA'), ('FA', 'EM'), ('FA', 'LA'), ('NO', 'EA'), ('TA', 'EA'), ('KE', 'LA'), ('SW', 'EM'), ('SG', 'EM'), ('MU', 'EA'), ('SG', 'EM'), ('MU', 'EA'), ('SW', 'EA'), ('SG', 'LA'), ('SA', 'LA'), ('AS', 'LA'), ('SW', 'EM'), ('SA', 'LM'), ('TU', 'EM'), ('AS', 'LM'), ('KE', 'LA'), ('FA', 'LM'), ('SG', 'LA'), ('BI', 'EA'), ('HA', 'EA'), ('KE', 'LA'), ('MU', 'EA'), ('TU', 'LM'), ('HA', 'LM'), ('HA', 'EM'), ('NO', 'LM'), ('NO', 'LM'), ('SG', 'LA'), ('KA', 'EM'), ('TA', 'EM'), ('SW', 'LA'), ('FA', 'LM'), ('TU', 'EM'), ('TA', 'LM'), ('TU', 'LM'), ('TA', 'LA'), ('SW', 'LM'), ('SW', 'EA'), ('KA', 'LM'), ('SA', 'EM'), ('BI', 'LM'), ('AS', 'EM'), ('FA', 'LA'), ('KE', 'LM'), ('TA', 'EM'), ('HA', 'LA'), ('FA', 'LM'), ('SG', 'EA'), ('KE', 'EA'), ('SW', 'LA'), ('TA', 'LA'), ('KA', 'EA'), ('SW', 'LA'), ('SG', 'LA'), ('NO', 'LM'), ('SA', 'LA'), ('SG', 'EM'), ('FA', 'EM'), ('NO', 'LA'), ('SA', 'LA'), ('SA', 'EM'), ('MU', 'EA'), ('SG', 'LM'), ('TU', 'EM'), ('NO', 'LA'), ('NO', 'EA'), ('MU', 'LA'), ('AS', 'LA'), ('BI', 'LM'), ('HA', 'EA'), ('AS', 'EM'), ('SA', 'EA'), ('BI', 'EM'), ('SW', 'EA'), ('TA', 'EA'), ('TA', 'LA'), ('AS', 'LA'), ('SG', 'EM'), ('SW', 'LA'), ('AS', 'LM'), ('SA', 'EM'), ('SA', 'EA'), ('KA', 'EA'), ('SG', 'EM'), ('SW', 'LA'), ('SW', 'EM'), ('KE', 'EM'), ('BI', 'EM'), ('TU', 'EA'), ('TA', 'EA'), ('SA', 'LM'), ('SW', 'EA'), ('KE', 'EM'), ('SW', 'EM'), ('BI', 'LA'), ('MU', 'LM'), ('KA', 'EA'), ('MU', 'EM'), ('HA', 'EM'), ('SG', 'LA'), ('HA', 'EA'), ('AS', 'LA'), ('AS', 'EM'), ('TA', 'LM'), ('TA', 'LM'), ('BI', 'EM'), ('KA', 'EM'), ('SA', 'LA'), ('BI', 'LA'), ('MU', 'LM'), ('FA', 'EA'), ('FA', 'EA'), ('MU', 'LA'), ('NO', 'LM'), ('HA', 'LM'), ('MU', 'LA'), ('KE', 'EA'), ('TU', 'EA'), ('AS', 'LA'), ('KE', 'LA'), ('KE', 'LM'), ('BI', 'EA'), ('SA', 'EM'), ('AS', 'EA'), ('TU', 'EM'), ('BI', 'LA'), ('MU', 'EA'), ('KE', 'LM'), ('FA', 'LA'), ('BI', 'EM'), ('KE', 'LM'), ('HA', 'EA'), ('TA', 'EM'), ('MU', 'LM'), ('AS', 'EM'), ('KA', 'EA'), ('SG', 'LA'), ('KE', 'EM'), ('NO', 'EA'), ('FA', 'LM'), ('KA', 'LM'), ('KE', 'LA'), ('KA', 'LA'), ('NO', 'LA'), ('FA', 'EA'), ('KE', 'LM'), ('TU', 'LA'), ('TU', 'LM'), ('KE', 'EM'), ('TU', 'LM'), ('SA', 'LM'), ('KE', 'EA'), ('FA', 'LM'), ('SA', 'EA'), ('AS', 'LA'), ('SG', 'EA'), ('HA', 'EM'), ('SA', 'LA'), ('BI', 'LM'), ('KE', 'EA'), ('SW', 'EM'), ('SW', 'EA'), ('KA', 'EM'), ('TA', 'EM'), ('KE', 'EM'), ('KA', 'LA'), ('BI', 'LM'), ('TU', 'LM'), ('KE', 'LM'), ('HA', 'LM'), ('FA', 'LM'), ('NO', 'LA'), ('NO', 'LM'), ('MU', 'EM'), ('HA', 'LA'), ('AS', 'EA'), ('AS', 'LA'), ('SG', 'EA'), ('BI', 'LA'), ('BI', 'LM'), ('KE', 'EA'), ('TA', 'EM'), ('MU', 'LA'), ('FA', 'EM'), ('SG', 'EA'), ('KE', 'LA'), ('HA', 'LM'), ('SA', 'EA'), ('SA', 'LM'), ('NO', 'LM'), ('SW', 'LM'), ('KE', 'LM'), ('BI', 'EM'), ('TA', 'LA'), ('FA', 'EA'), ('SW', 'LA'), ('FA', 'EA'), ('BI', 'LA'), ('AS', 'LM'), ('TU', 'EA'), ('KE', 'EA'), ('SG', 'EA'), ('MU', 'LM'), ('FA', 'EA'), ('FA', 'LA'), ('TA', 'LM'), ('SG', 'LM'), ('BI', 'LM'), ('TA', 'EA'), ('AS', 'LA'), ('AS', 'LM'), ('NO', 'EM'), ('SW', 'EA'), ('KA', 'LA'), ('KA', 'LA'), ('AS', 'EA'), ('AS', 'EM'), ('SW', 'EA'), ('KE', 'LM'), ('KE', 'EM'), ('TU', 'LA'), ('HA', 'LM'), ('HA', 'LA'), ('MU', 'EM'), ('KE', 'LA'), ('NO', 'EM'), ('TU', 'EM'), ('BI', 'EA'), ('KE', 'LA'), ('HA', 'EA'), ('KA', 'EA'), ('TA', 'LM'), ('BI', 'LA'), ('MU', 'EM'), ('NO', 'EM'), ('TA', 'LM'), ('TA', 'EA'), ('TU', 'EA'), ('MU', 'EM'), ('AS', 'LM'), ('MU', 'EA'), ('SG', 'LA'), ('MU', 'LA'), ('NO', 'EA'), ('NO', 'LA'), ('BI', 'LM'), ('KA', 'EA'), ('HA', 'EM'), ('TU', 'LA'), ('HA', 'EM'), ('MU', 'LA'), ('NO', 'EM'), ('SG', 'EA'), ('HA', 'LM'), ('SW', 'LM'), ('MU', 'LA'), ('TU', 'EM'), ('NO', 'EM'), ('FA', 'EM'), ('TU', 'EM'), ('KA', 'LM'), ('TA', 'EM'), ('TA', 'EM'), ('FA', 'EM'), ('SA', 'EA'), ('NO', 'EA'), ('HA', 'LA'), ('AS', 'EA'), ('AS', 'LA'), ('TA', 'LM'), ('SG', 'EA'), ('KA', 'LM'), ('HA', 'LM'), ('BI', 'EM'), ('KA', 'LA'), ('KE', 'EA'), ('SA', 'LA'), ('SA', 'LA'), ('KA', 'EM'), ('MU', 'EM'), ('TU', 'EM'), ('TA', 'LM'), ('MU', 'LM'), ('SG', 'EM'), ('KE', 'EA'), ('SG', 'EM'), ('SA', 'LM'), ('SG', 'EM'), ('SW', 'LM'), ('KA', 'LM'), ('FA', 'EA'), ('SG', 'LM'), ('FA', 'LA'), ('NO', 'LM'), ('SA', 'EM'), ('TU', 'EA'), ('TA', 'LA'), ('KA', 'EM'), ('BI', 'LA'), ('AS', 'EM'), ('SA', 'LA'), ('SG', 'EA'), ('HA', 'EM'), ('KE', 'EM'), ('KA', 'EM'), ('SG', 'EM'), ('HA', 'EM'), ('SA', 'EA'), ('TU', 'LM'), ('KE', 'EM'), ('TA', 'LA'), ('MU', 'LM'), ('HA', 'EM'), ('NO', 'LM'), ('KA', 'LA'), ('MU', 'LM'), ('KA', 'LA'), ('FA', 'LM'), ('BI', 'EM'), ('KE', 'EA'), ('SW', 'LA'), ('FA', 'LA'), ('SW', 'EM'), ('FA', 'EM'), ('BI', 'EA'), ('TU', 'LM'), ('TA', 'EM'), ('NO', 'LM'), ('TA', 'LA'), ('SA', 'EA'), ('KA', 'LM'), ('NO', 'LA')]

In [5]:
df = pd.read_csv('random_schedule_list.csv')
df

    ANIMAL TIMESLOT
0       TU       LA
1       BI       EA
2       TU       LM
3       NO       EA
4       NO       LA
..     ...      ...
463     NO       LM
464     TA       LA
465     SA       EA
466     KA       LM
467     NO       LA

[468 rows x 2 columns]

In [6]:
df['TIME REMAINING'] = [1200]*df.shape[0]
# df = df.sort_values(by=['TIMESLOT'])
np_starting_schedule = df.to_numpy()
df

    ANIMAL TIMESLOT  TIME REMAINING
0       TU       LA            1200
1       BI       EA            1200
2       TU       LM            1200
3       NO       EA            1200
4       NO       LA            1200
..     ...      ...             ...
463     NO       LM            1200
464     TA       LA            1200
465     SA       EA            1200
466     KA       LM            1200
467     NO       LA            1200

[468 rows x 3 columns]

In [7]:
full_schedule = df
indexes = []
looping_condition = lambda : df.loc[df['TIME REMAINING']==1200].shape[0] >= len(TIMESLOTS)*NO_OBS_PER_TIMESLOT
while looping_condition():
    for timeslot in TIMESLOTS:
        x = full_schedule.loc[full_schedule['TIMESLOT']==timeslot]
        y = x.loc[x['TIME REMAINING']==1200]
        z = y.iloc[:NO_OBS_PER_TIMESLOT]
        zindex = z.index
        full_schedule.drop(index=zindex,inplace=True)
        zindex = zindex.to_list()
        indexes.append(zindex)

In [35]:
sorted_schedule = []
for ixs in indexes:
    for i in ixs:
        sorted_schedule.append((np_starting_schedule[i].tolist()))
np_sorted_schedule = np.array(sorted_schedule)
print(np_sorted_schedule)
schedule = pd.DataFrame(np_sorted_schedule,columns=['ANIMAL', 'TIMESLOT','TIME REMAINING'])
schedule.to_csv('schedule.csv', sep=';')

[['MU' 'EM' '1200']
 ['FA' 'EM' '1200']
 ['SA' 'EM' '1200']
 ...
 ['FA' 'LA' '1200']
 ['TA' 'LA' '1200']
 ['NO' 'LA' '1200']]

In [37]:
pd.read_csv('schedule.csv', sep=';')

     Unnamed: 0 ANIMAL TIMESLOT  TIME REMAINING
0             0     MU       EM            1200
1             1     FA       EM            1200
2             2     SA       EM            1200
3             3     TU       LM            1200
4             4     MU       LM            1200
..          ...    ...      ...             ...
463         463     BI       EA            1200
464         464     SA       EA            1200
465         465     FA       LA            1200
466         466     TA       LA            1200
467         467     NO       LA            1200

[468 rows x 4 columns]